
@{
    ViewData["Title"] = "CheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}


<div class="main-agileinfo">
    <div class="p-3 mb-2 bg-transparent text-body">
        plz check your inbox 

</div>
</div>

