
@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
    var departments = new SelectList(ViewData["departments"] as IEnumerable<Department>, nameof(Department.Id), nameof(Department.Name));
}

<h1>Edit</h1>

<form asp-action="Edit" enctype="multipart/form-data">
   
    <partial name="PartialView/EditCreateEmployeePartialView" model="Model"></partial>
    <input hidden asp-for="ImageName"/>
    <input type="submit" value="Save" class="btn btn-primary" asp-route-id="@Model.Id" />
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section Test {
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}